<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <%- include('../titles') %>

        <title>Regina Miyahira | <%= pagina %> | Empoderando você a ser sua melhor versão
        </title>

        <link rel="stylesheet" href="stylesheets/stylesheet.css">
        <link rel="stylesheet" href="stylesheets/partialsStyles.css">

        <link rel="stylesheet" href="stylesheets/bootstrap.css">
        <script type="text/javascript" src="javascripts/bootstrap.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lora&family=Noto+Serif+JP:wght@300&family=Shippori+Antique&display=swap"
            rel="stylesheet">
        <meta name="theme-color" content="#478ac9">
</head>

<body>
    <%- include('../partials/navbar') %>
        <main class="main">
            <%- body %>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>